*{
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

/* header */
.header{
    background-color: brown;
    color: white;
}

.header h1{
    text-align: center;
    padding: 20px;
}

/* menu */

nav{
    background-color: black;
    width: 100%;
    overflow: auto;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li{
    float:  left;
}

nav ul li a{
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    background-color: gray;
}

/* row */

.row::after{
    clear: both;
    content: "";
    display: table;
}

/* columns */
[class*="col-"]{
    float: left;
    padding: 10px;
}

.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}

img{
    width: 100%;
    padding: 5px;
}

/* caption */

.caption{
    text-align: center;
    padding: 10px;
    border-style: solid none;
    border-color: black;
}

/* contact */

.info{
    margin: 5px 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    background-color: black;
}

/* footer */
.footer{
    background-color: orangered;
    color: white;
    padding: 20px;
    text-align: center;
}

/* responsive */

@media screen and (max-width:700px){
    [class*="col-"]{
        width: 100%;
    }
}